body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #CAD8D8;
}

.header-container {
  width: 100vw;
  background-color: #40798C;
}

.header-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
  padding: 8px 12px;
}

.header-container header .title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

.header-container header nav ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  color: #fff;
  width: 200px;
}

.header-container header nav ul.nav li {
  font-size: 18px;
  padding: 2px 12px;
  font-weight: 700px;
  line-height: 40px;
  cursor: pointer;
}

.header-container header nav ul.nav li:hover {
  background-color: #D0CE9F;
  border-radius: 4px;
}

.calendar-container {
  padding-top: 150px;
}

.calendar-container .calendar {
  background-color: #fff;
  width: 70%;
  max-width: 1080px;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.calendar-container .calendar header {
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar-container .calendar header .btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
  padding-top: 18px;
  outline: none;
  border: 10px;
}

.calendar-container .calendar header .btn i {
  font-size: 30px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar-container .calendar header .container {
  padding-top: 18px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar-container .calendar header .container input {
  width: 40%;
  border: none;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.calendar-container .calendar header .container select {
  border: none;
  width: 60%;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.calendar-container .calendar section {
  padding-top: 36px;
}

.calendar-container .calendar section .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.calendar-container .calendar section .days .day {
  width: calc(100% / 7 - 20px);
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 3px #ccc;
          box-shadow: 1px 1px 3px #ccc;
}

.calendar-container .calendar section .days .holiday {
  background-color: #806641;
}

.calendar-container .calendar section .dates-container {
  padding-top: 18px;
}

.calendar-container .calendar section .dates-container .dates {
  width: 100%;
}

.calendar-container .calendar section .dates-container .dates .date {
  width: calc(100% / 7 - 20px);
}
/*# sourceMappingURL=index.css.map */