body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #CAD8D8;
}

.header-container {
  width: 100vw;
  background-color: #40798C;
}

.header-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
  padding: 8px 12px;
}

.header-container header .title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

.header-container header nav ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  color: #fff;
  width: 200px;
}

.header-container header nav ul.nav li {
  font-size: 18px;
  padding: 2px 12px;
  font-weight: 700px;
  line-height: 40px;
  cursor: pointer;
}

.header-container header nav ul.nav li:hover {
  background-color: #D0CE9F;
  border-radius: 4px;
}

.calendar-container {
  padding-top: 150px;
}

.calendar-container .calendar {
  background-color: #fff;
  width: 70%;
  max-width: 1080px;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.calendar-container .calendar header {
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar-container .calendar header .btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
  padding-top: 18px;
  outline: none;
  border: 10px;
}

.calendar-container .calendar header .btn i {
  font-size: 30px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar-container .calendar header .container {
  padding-top: 18px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar-container .calendar header .container input {
  width: 40%;
  border: none;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.calendar-container .calendar header .container select {
  border: none;
  width: 60%;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.calendar-container .calendar section {
  padding-top: 36px;
}

.calendar-container .calendar section .table-container {
  width: 100%;
  border-collapse: collapse;
}

.calendar-container .calendar section .table-container .tb-head {
  text-align: center;
}

.calendar-container .calendar section .table-container .tb-head .days .day {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #111;
  padding: 5px 10px;
  margin: 0 10px;
}

.calendar-container .calendar section .table-container .tb-body .dates .date {
  font-size: 16px;
  text-align: left;
  padding: 10px 0 80px;
  position: relative;
  cursor: pointer;
  border: 1px solid #ccc;
  font-weight: 500;
  color: #52616a;
  padding-left: 15px;
}

.calendar-container .calendar section .table-container .tb-body .dates .date .today {
  color: #fff;
  position: relative;
  z-index: 99;
}

.calendar-container .calendar section .table-container .tb-body .dates .date .today::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #023047;
  position: absolute;
  top: 1px;
  left: -6px;
  z-index: -1;
}

.calendar-container .calendar section .table-container .tb-body .dates .holiday {
  color: #ff7473;
}
/*# sourceMappingURL=index.css.map */